[Unit]
Description=Bob Relay Server (WebSocket & Proxy) Python
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bob-relay
ExecStart=/opt/quant_lab/.venv/bin/python bob_relay.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
